@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Imbue:opsz,wght@10..100,500&family=Philosopher&display=swap');
:root{
    --themecolor: rgb(7, 4, 42);
    --textcolor: rgb(64, 120, 240);
}


*{
    margin: 0px;
    font-family: "Alegreya";
}
body{
    overflow-x: hidden;
}
h1{
    font-size: 45px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 40px;
}
p{
    font-size: 30px;
}
header{
    margin: 0px;
    background-color: var(--themecolor);
    font-family: "Philosopher";
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    border-bottom: white;
}
@media screen and (max-width: 800px) {
    .header {
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      align-content: center;
                }
        .navlinks li{
            display: flex;
            flex-flow: column wrap;
                }
        .navlinks li a{
            padding: 5px;
            font-size: 10px;
        }
        .navlinks li a:hover{
            font-size: 12px;
        }
}
.navlinks li{
    display: inline-block;
    padding: 0px 20px;
}
.navlinks li a{
    text-decoration: none;
    color: var(--textcolor);
    cursor: pointer;
    background-color: var(--themecolor);
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 20px;
    transition: all 0.3s ease 0s;
}
.navlinks li a:hover{
    text-decoration: none;
    color: var(--themecolor);
    background-color:var(--textcolor);
    padding: 20px;
    border: none;
    font-size: 25px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.navlinks li a:active{
    background-color: var(--themecolor);
    color: #ffffff;
    transition: all 0.3s ease 0s;
}
.logo{
    cursor: pointer;
    margin-right: auto;
}
.book button{
    margin-left: 20px;
    cursor: pointer;
    background-color: var(--textcolor);
    text-decoration: none;
    border-radius: 20px;
    font-family: "Philosopher";
    font-size: 20px;
    padding: 11px 15px 11px 15px;
    border:none;
    transition: all 0.3s ease 0s;
    color: var(--themecolor);
}

.book button:hover{
    cursor: pointer;
    text-decoration: none;
    font-family: "Philosopher";
    font-size: 25px;
    padding: 20px;
    transition: all 0.3s ease 0s;
    border-radius: 20px;
    color: black;
}


/*Dropdown Menu*/

.dropdown_menu{
    display: none;
    position:absolute;
    top: 10%;
    width: 100%;
    height: 0;
    background-color: var(--themecolor);
    backdrop-filter: blur(15px);
    border-radius:5px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open{
    height: 240px;
}
.dropdown_menu li{
    padding: 0.7rem;
    padding: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
}
.dropdown_menu li a{
    text-decoration: none;
    color: #ffffff;
}
.dropdown_menu .book button{
    width: 100%;
    padding: 2%;
    margin: 0%;
    display: flex;
    justify-content: center;
}

/*hamburger icon styling*/
.menubtn{
    display: none;
    cursor: pointer;
}
.menu {
    --s: 25px; /* control the size */
    --c: var(--textcolor); /* the color */
    
    height: var(--s);
    aspect-ratio: 1;
    border: none;
    padding: 0;
    border-inline: calc(var(--s)/2) solid #0000; 
    box-sizing: content-box;
    --_g1: linear-gradient(var(--c) 20%,#0000 0 80%,var(--c) 0) 
           no-repeat content-box border-box;
    --_g2: radial-gradient(circle closest-side at 50% 12.5%,var(--c) 95%,#0000) 
           repeat-y content-box border-box;
    background: 
      var(--_g2) left  var(--_p,0px) top,
      var(--_g1) left  calc(var(--s)/10 + var(--_p,0px)) top,
      var(--_g2) right var(--_p,0px) top,
      var(--_g1) right calc(var(--s)/10 + var(--_p,0px)) top;
    background-size: 
      20% 80%,
      40% 100%;
    position: relative;
    clip-path: inset(0 25%);
    -webkit-mask-: linear-gradient(90deg,#0000,#000 25% 75%,#0000);
    cursor: pointer;
    transition: 
      background-position .3s var(--_s,.3s), 
      clip-path 0s var(--_s,.6s);
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
  }
  .menu:before,
  .menu:after {
    content:"";
    position: absolute;
    border-radius: var(--s);
    inset: 40% 0;
    background: var(--c);
    transition: transform .3s calc(.3s - var(--_s,.3s));
  }
  
  .menu:checked {
    clip-path: inset(0);
    --_p: calc(-1*var(--s));
    --_s: 0s;
  }
  .menu:checked:before {
    transform: rotate(45deg);
  }
  .menu:checked:after {
    transform: rotate(-45deg);
  }
  .menu:focus-visible {
    clip-path: none;
    -webkit-mask-: none;
    border: none;
    outline: 2px solid var(--c);
    outline-offset: 5px;
  }


  

body{
    background-color: var(--textcolor);
}
/*intro images and description*/
.intro{
    display: flex;
    flex-flow: row nowrap;
    background-color: var(--themecolor);
    color: var(--textcolor);
    width: 100%;
    height: 100%;

}
.intro .imgsec{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.intro img{
    width: 100%;
    height: auto;
    border-bottom: solid rgb(25, 24, 32) 4px;
    border-radius: 3px;
    align-content: center;
}
@keyframes pageintros {
    0%{padding: 25% 0% 25% 0%; font-size: 30px;}
    100%{padding: 0%; font-size: 70px;}
}
.intro h1{
    text-align: center;
    width: 100%;
    font-size: 3rem;
    margin-top: 5%;
    animation: pageintros 4s forwards;
}

.eventinfop{
    margin: 2%;
    text-align: justify;
    padding: 0% 10% 2% 10%;
}
iframe{
    width: 90%;
    height: auto;
    padding: 5%;
}
.imgduocon{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding-bottom: 2%;
}
.evetitle{
    text-align: center;
    font-size: 4rem;
}
.imgduocon img{
    width:30%;
    border: 3px solid var(--themecolor);
}
@media screen and (max-width:800px){
    .imgduocon{
        flex-flow: column wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .imgduocon img{
        width: 70%;
        margin-bottom:5% ;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
}
/*footer design*/
/*footer design*/
footer p,footer h3, footer h4{
    font-size: 15px;
    color: var(--textcolor);
}
footer{
    text-decoration: none;
    width: 100%;
    bottom: 0;
    position: relative;
    background-color: rgb(3, 18, 24);
    color: #fff;
    padding: 100px 0 30px;
    font-size: 13px;
    line-height: 20px;
}

.row{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col{
    flex-basis: 20%;
    padding: 10px;
}


footer p{
    text-align: justify;
}
.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
.email-id{
    width: fit-content;
    border-bottom: var(--textcolor) 1px solid;
    margin: 20px 0px;
}
.footlogo{
    width: 80px;
    margin-bottom: 30px;
}

footer ul li{
    text-decoration: none;
    list-style: none;
    margin-bottom: 12px;
}

footer ul li a{
    text-decoration:none;
    color:var(--textcolor);
}

hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid var(--textcolor);
    margin: 20px auto;
}

.copyright{
    text-align: center;
}
.underline{
    width: 100%;
    height: 5px;
    background: #30535d;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}
.underline span{
    width: 15px;
    height: 100%;
    background: #00ccff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}
@keyframes moving{
    0%{left: -20px;}
    100%{left: 100%;}
}

@media screen and (max-width:800px){
    footer{
        bottom: unset;
    }
    .col{
        flex-basis: 100%;
    }
}
@media screen and (max-width:800px) {
    .navlinks, .book button{
        display: none;
    }
    .menubtn{
        display: block;
    }
    .dropdown_menu{
        display: block;
    }
    p{
        font-size: 1.2rem;
    }

}
@media screen and (max-width:1000px) {
    .intro{
        flex-flow: column wrap;
    }
    .intro img{
        width: 100%;
    }
}
